
<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am currently doing my Masters in Computer Science in Northeastern University. I am interested on programming and solving challenges. I like Mathematics and also computation part of CS. 
			My main programming language is Java and had done some projects on Core Java. Currently I am working on a project which includes Spring MVC and Hibernate. I worked on MEAN stack, but I wouldn’t say I am expert at it. 
			I also worked as Software Co-Op at MassMutual, where I was introduced a whole new field called Cloud Computing. I worked as a part of small team which followed the core principles of Dev-Ops team. 
			We handled CI/CD process of the project and also worked on deployment of it. We also worked on early design of automated pipeline for CI/CD process. <br></br>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>

